/* Cấu trúc chung */
body {
  margin: 0;
  padding: 20px;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}

#questions-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Tạo khoảng cách giữa các câu hỏi */
}

.question {
  margin-bottom: 10px;
  font-weight: bold;
}

label {
  margin-left: 10px;
  font-weight: normal;
  font-size: 16px;
}

#score {
  font-size: 25px;
  font-weight: bold;
}

/* Nút nộp bài */
button {
  background-color: #4CAF50; /* Màu xanh lá */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  margin-right: 10px;
  cursor: pointer;
}

/* Nút nổi */
.special-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border: none;
  color: white;
  background-color: #4CAF50;
  display: inline-block;
  cursor: pointer;
}
.special-button:hover, .special-button:active {
  background-color: none;
}

/* Phần Collapse */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Link */
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
